{% extends "base.html" %}
{% block content %}
  <div class="col-md-10 offset-md-1">
    {% if user.is_authenticated %}
      <h1>Records</h1>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
          </tr>
        </thead>
        <tbody>
          {% if records %}
            {% for record in records %}
              <tr>
                <th scope="row">{{ record.id }}</th>
                <td>{{ record.first_name }}</td>
                <td>{{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.state }}</td>
                <td>{{ record.zipcode }}</td>
              </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    {% else %}
      <h1>Login</h1>
      <form method="post" action="{% url "home" %}">
        {% csrf_token %}
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 name="username"
                 placeholder="First name"
                 required>
        </div>
        <div class="form-group">
          <input type="password"
                 class="form-control"
                 name="password"
                 placeholder="Password"
                 required>
        </div>
        <br>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>
    </div>
  {% endif %}
{% endblock content %}
